# Numpy and Pandas

## Goals

- Introduce the numpy and pandas libraries.

Learning objectives:

      - Numpy arrays and its mathmateical abilities
      
      - Importing data into pandas using CSVs
      
      - Slicing and filtering pandas dataframes
      
      - Cleaning data
      
      - Statistics and other math with pandas


- Two common Python libraries used for statistical analysis, data munging/wrangling/transformation, and other mathematical purpose.

- To put it simply, there is your connection to the data. Pandas is the most important tool because you'll spend the most time and effort with it.

### Numpy

Numpy has a wide ecosystem of functions and uses but for the purpose of this course we will focus on arrays aka numpy's version of a list

In [5]:
# Import library

import numpy as np

In [6]:
import pandas as pd

In [3]:
Twitter API!

SyntaxError: invalid syntax (<ipython-input-3-9561a626c466>, line 1)

In [ ]:
!pip install tweepy

In [7]:
#Let's turn a list into an array

l = [3,2,6,7,9,1,2,-5]

array = np.array(l)

In [8]:
#Call it
array

array([ 3,  2,  6,  7,  9,  1,  2, -5])

In [9]:
#Call type

How arrays differ from lists

In [ ]:
#Does this code work

l + 3

In [ ]:
#What about this?
array + 3

In [ ]:
#Multiply l by 2 
l * 2

In [ ]:
#Multiply array by 2 
array * 2

Numpy array have mathematical abilities that lists don't have, which makes them easier to use

In [ ]:
#Mean value
array.mean()

In [ ]:
l.mean()

In [ ]:
#Maximum value
array.max()

In [ ]:
#Mininum value
array.min()

In [ ]:
#Sum all values
array.sum()

In [ ]:
#Find standard deviation
array.std()

In [ ]:
#What happens when you do this? (Directory, or you can click TAB button to get list for iPython..)
dir(array)

Can also use numpy itself to call certain functions

In [ ]:
#Median
np.median(array)

In [ ]:
#Square
np.square(array)

In [ ]:
#Square root
np.sqrt(array)

In [ ]:
# Absolute value
np.abs(array)

Arrays can also be multi-dimensional

In [ ]:
#Make two dimensional numpy as with arange and reshape functions

np.arange(16)

In [ ]:
#Reshape array
arr_2d = np.arange(16).reshape(4,4)
arr_2d

<b>Slicing two dimension array<b>

In [ ]:
#Slice rows
arr_2d[:2]

In [ ]:
#Slice columns 
arr_2d[:,2:]

In [ ]:
#Slice both rows and columns
arr_2d[:1,3]

In [ ]:
#Slice specific value. Look where "6" is..
arr_2d[1,2]

In [ ]:
#Slice specific column, where the number "6" is..
arr_2d[:,2]

Fantastic numpy tutorial here: https://www.datacamp.com/community/tutorials/python-numpy-tutorial

## Pandas

From <u>[Mastering Pandas](https://www.packtpub.com/big-data-and-business-intelligence/mastering-pandas)</u>

    The pandas is a high-performance open source library for data analysis in Python developed by Wes McKinney in 2008. Over the years, it has become the de-facto standard library for data analysis using Python. There's been great adoption of the tool, a large community behind it, (220+ contributors and 9000+ commits by 03/2014), rapid iteration, features, and enhancements continuously made.
    
    • It can process a variety of data sets in different formats: time series, tabular heterogeneous, and matrix data.
    • It facilitates loading/importing data from varied sources such as CSV and DB/SQL.
    It can handle a myriad of operations on data sets: subsetting, slicing,  ltering, merging, groupBy, re-ordering, and re-shaping.
    • It can deal with missing data according to rules defined by the user/ developer: ignore, convert to 0, and so on.
    • It can be used for parsing and munging (conversion) of data as well as modeling and statistical analysis.
    • It integrates well with other Python libraries such as statsmodels, SciPy, and scikit-learn.

In [10]:
#Import pandas library
import pandas as pd

In [11]:
#Create a pandas series... columns
series = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
series

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
#Return row
series["c"]

In [ ]:
#Change value in the series
series["d"] = 2.0
series

In [ ]:
#Turn python dictionary into pandas series
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

In [ ]:
#Call California
population["California"]

In [ ]:
#Turn python dictinonary into pandas data frame

data = {"feature_one" :[1,2,4,8,-3],
       "feature_two" : ["haight", "mission", "geary", "castro", " potrero"],
       "feature_three": [True, True, False, True, False]}
df = pd.DataFrame(data, index=[6,7,8,9,10])

df

In [ ]:
#Returns columns
df.columns

In [ ]:
#Returns index
df.index

In [ ]:
#Returns numpy array version of data frame. Also works on series.
df.values

In [ ]:
#Call type on df
type(df)

In [ ]:
#Call feature_one column
f1 = df["feature_one"]
f1

In [ ]:
#df.feature_one also works
df.feature_one

In [ ]:
#Call type on f1
type(f1)

In [ ]:
#Select columns 
cols = ["feature_one", "feature_two"]
dff = df[cols]
dff

In [ ]:
#Add new column to dataset

#Create new column feature_four by assigning it to number 4
df["feature_four"] = 4

#Create new column feature_five by assigning it to list ds
ds = ["Data", "Science", "Math", "Programming", "Hacking"]
df["feature_five"] = ds
df

First dataset we will work with is the the drinks dataset

In [12]:
#File location of drinks dataset
path = "../data/drinks.csv"

drinks = pd.read_csv(path)

In [ ]:
#Head is used to view first 5 rows. 5 is default but can be changed.

drinks.head()

In [ ]:
#Tail is for last five rows
drinks.tail()

In [13]:
#Let's designate the country column as the index, inplace makes it permanent.

drinks.set_index("country",inplace=True)

In [ ]:
drinks.head()

In [ ]:
#How many rows and columns are there in this dataset?
drinks.shape

General dataset information

In [ ]:
#Lets look at this some details of this dataset. Almost like STR in R.
drinks.info()

In [ ]:
#handy way of getting standard statistics. 50%tile is Median.
drinks.describe()

In [ ]:
drinks.corr()

What do these two commands do?

## Slicing dataframes

.loc

In [15]:
# Select values in Peru row
drinks.loc["Peru"]

beer_servings                   163
spirit_servings                 160
wine_servings                    21
total_litres_of_pure_alcohol    6.1
continent                        SA
Name: Peru, dtype: object

In [14]:
#Select values in wine_servings column
drinks.loc[:,"wine_servings"]

country
Afghanistan               0
Albania                  54
Algeria                  14
Andorra                 312
Angola                   45
Antigua & Barbuda        45
Argentina               221
Armenia                  11
Australia               212
Austria                 191
Azerbaijan                5
Bahamas                  51
Bahrain                   7
Bangladesh                0
Barbados                 36
Belarus                  42
Belgium                 212
Belize                    8
Benin                    13
Bhutan                    0
Bolivia                   8
Bosnia-Herzegovina        8
Botswana                 35
Brazil                   16
Brunei                    1
Bulgaria                 94
Burkina Faso              7
Burundi                   0
Cote d'Ivoire             7
Cabo Verde               16
                       ...
Suriname                  7
Swaziland                 2
Sweden                  186
Switzerland             280
Syria                    16
Tajikistan                0
Thailand                  1
Macedonia                86
Timor-Leste               4
Togo                     19
Tonga                     5
Trinidad & Tobago         7
Tunisia                  20
Turkey                    7
Turkmenistan             32
Tuvalu                    9
Uganda                    0
Ukraine                  45
United Arab Emirates      5
United Kingdom          195
Tanzania                  1
USA                      84
Uruguay                 220
Uzbekistan                8
Vanuatu                  11
Venezuela                 3
Vietnam                   1
Yemen                     0
Zambia                    4
Zimbabwe                  4
Name: wine_servings, Length: 193, dtype: int64

In [ ]:
#Slice countries Germany to Guyana and columns beer_servings to wine_servings
drinks.loc["Germany": "Guyana", "beer_servings": "wine_servings"]

.iloc

In [ ]:
#What do you think iloc does??? i stands for integer

In [ ]:
drinks.iloc[30:45, :2]

In [ ]:
drinks.iloc[48]

In [ ]:
#Returns row at index 48
drinks.iloc[48]

In [ ]:
#Returns column at index 1
drinks.iloc[:, 1].head()

In [ ]:
#Return slice of rows and columns
drinks.iloc[100:134, :-2]

In [ ]:
drinks.iloc[:10]

iloc slices dataframes using the integer index.

<b>Conditional selection<b>

What happens when you run the next two cells?

In [16]:
drinks.continent == "EU"

country
Afghanistan             False
Albania                  True
Algeria                 False
Andorra                  True
Angola                  False
Antigua & Barbuda       False
Argentina               False
Armenia                  True
Australia               False
Austria                  True
Azerbaijan               True
Bahamas                 False
Bahrain                 False
Bangladesh              False
Barbados                False
Belarus                  True
Belgium                  True
Belize                  False
Benin                   False
Bhutan                  False
Bolivia                 False
Bosnia-Herzegovina       True
Botswana                False
Brazil                  False
Brunei                  False
Bulgaria                 True
Burkina Faso            False
Burundi                 False
Cote d'Ivoire           False
Cabo Verde              False
                        ...
Suriname                False
Swaziland               False
Sweden                   True
Switzerland              True
Syria                   False
Tajikistan              False
Thailand                False
Macedonia                True
Timor-Leste             False
Togo                    False
Tonga                   False
Trinidad & Tobago       False
Tunisia                 False
Turkey                  False
Turkmenistan            False
Tuvalu                  False
Uganda                  False
Ukraine                  True
United Arab Emirates    False
United Kingdom           True
Tanzania                False
USA                     False
Uruguay                 False
Uzbekistan              False
Vanuatu                 False
Venezuela               False
Vietnam                 False
Yemen                   False
Zambia                  False
Zimbabwe                False
Name: continent, Length: 193, dtype: bool

In [17]:
drinks.wine_servings > 20

country
Afghanistan             False
Albania                  True
Algeria                 False
Andorra                  True
Angola                   True
Antigua & Barbuda        True
Argentina                True
Armenia                 False
Australia                True
Austria                  True
Azerbaijan              False
Bahamas                  True
Bahrain                 False
Bangladesh              False
Barbados                 True
Belarus                  True
Belgium                  True
Belize                  False
Benin                   False
Bhutan                  False
Bolivia                 False
Bosnia-Herzegovina      False
Botswana                 True
Brazil                  False
Brunei                  False
Bulgaria                 True
Burkina Faso            False
Burundi                 False
Cote d'Ivoire           False
Cabo Verde              False
                        ...
Suriname                False
Swaziland               False
Sweden                   True
Switzerland              True
Syria                   False
Tajikistan              False
Thailand                False
Macedonia                True
Timor-Leste             False
Togo                    False
Tonga                   False
Trinidad & Tobago       False
Tunisia                 False
Turkey                  False
Turkmenistan             True
Tuvalu                  False
Uganda                  False
Ukraine                  True
United Arab Emirates    False
United Kingdom           True
Tanzania                False
USA                      True
Uruguay                  True
Uzbekistan              False
Vanuatu                 False
Venezuela               False
Vietnam                 False
Yemen                   False
Zambia                  False
Zimbabwe                False
Name: wine_servings, Length: 193, dtype: bool

In [ ]:
drinks[drinks.continent=="EU"]

In [ ]:
drinks[drinks.wine_servings > 20]

Take those commands and pass them into the drinks data frame

In [18]:
drinks[drinks.continent != "EU"]

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,AS
Algeria,25,0,14,0.7,AF
Angola,217,57,45,5.9,AF
Antigua & Barbuda,102,128,45,4.9,NaN
Argentina,193,25,221,8.3,SA
Australia,261,72,212,10.4,OC
Bahamas,122,176,51,6.3,NaN
Bahrain,42,63,7,2.0,AS
Bangladesh,0,0,0,0.0,AS
Barbados,143,173,36,6.3,NaN
Belize,263,114,8,6.8,NaN
Benin,34,4,13,1.1,AF
Bhutan,23,0,0,0.4,AS
Bolivia,167,41,8,3.8,SA
Botswana,173,35,35,5.4,AF
Brazil,245,145,16,7.2,SA
Brunei,31,2,1,0.6,AS
Burkina Faso,25,7,7,4.3,AF
Burundi,88,0,0,6.3,AF
Cote d'Ivoire,37,1,7,4.0,AF
Cabo Verde,144,56,16,4.0,AF
Cambodia,57,65,1,2.2,AS
Cameroon,147,1,4,5.8,AF
Canada,240,122,100,8.2,NaN
Central African Republic,17,2,1,1.8,AF
Chad,15,1,1,0.4,AF
Chile,130,124,172,7.6,SA
China,79,192,8,5.0,AS
Colombia,159,76,3,4.2,SA
Comoros,1,3,1,0.1,AF
...,...,...,...,...,...
Solomon Islands,56,11,1,1.2,OC
Somalia,0,0,0,0.0,AF
South Africa,225,76,81,8.2,AF
Sri Lanka,16,104,0,2.2,AS
Sudan,8,13,0,1.7,AF
Suriname,128,178,7,5.6,SA
Swaziland,90,2,2,4.7,AF
Syria,5,35,16,1.0,AS
Tajikistan,2,15,0,0.3,AS
Thailand,99,258,1,6.4,AS
Timor-Leste,1,1,4,0.1,AS
Togo,36,2,19,1.3,AF
Tonga,36,21,5,1.1,OC
Trinidad & Tobago,197,156,7,6.4,NaN
Tunisia,51,3,20,1.3,AF
Turkey,51,22,7,1.4,AS
Turkmenistan,19,71,32,2.2,AS
Tuvalu,6,41,9,1.0,OC
Uganda,45,9,0,8.3,AF
United Arab Emirates,16,135,5,2.8,AS
Tanzania,36,6,1,5.7,AF
USA,249,158,84,8.7,NaN
Uruguay,115,35,220,6.6,SA
Uzbekistan,25,101,8,2.4,AS
Vanuatu,21,18,11,0.9,OC
Venezuela,333,100,3,7.7,SA
Vietnam,111,2,1,2.0,AS
Yemen,6,0,0,0.1,AS
Zambia,32,19,4,2.5,AF
Zimbabwe,64,18,4,4.7,AF

In [ ]:
#Rows where wine_servings greater than 20
drinks[]

In [ ]:
#What if we want non-European countries?
drinks[]

`drinks.continent=='EU'` by itself returns a bunch of Trues and Falses.

When you wrap drinks around it with square brackets you're telling the drinks dataframe to select only those that are True, and not the False ones.

In [ ]:
#Return a data frame where both conditions are true
drinks[(drinks.continent == "EU") & (drinks.wine_servings > 20)]

In [ ]:
#Return data frame where either condition is true
drinks[(drinks.continent == "EU") | (drinks.wine_servings >20)]

In [ ]:
#Return rows where wine_serving is greater than beer_servings
drinks[drinks.wine_servings > drinks.beer_servings]

In [19]:
#Return rows where wine_serving is greater than beer_servings
drinks[drinks.wine_servings > drinks.beer_servings].shape

(26, 5)

In [ ]:
#Call .index to return just the countries
drinks[drinks.wine_servings > drinks.beer_servings].index

We can sum boolean values.

In [ ]:
#How many countries consume no beer at all?
(drinks.beer_servings == 0).sum()

<b>Pandas Series<b>

In [21]:
#Assign beer_servings to variable beer
beer = drinks["beer_servings"]
beer.head()

country
Afghanistan      0
Albania         89
Algeria         25
Andorra        245
Angola         217
Name: beer_servings, dtype: int64

In [ ]:
#Can do math operations similar to numpy arrays
#Multiply every value in beer by 
beer.head()*2

In [ ]:
#Add 2 to every value in beer
beer + 2

In [ ]:
#Derive mean of beer
beer.mean()

In [ ]:
#Derive median of beer
beer.median()

In [ ]:
#Sum all values in beer
beer.sum()

In [23]:
#Pandas series can be added to one another
wine = drinks.wine_servings
beer + wine

country
Afghanistan               0
Albania                 143
Algeria                  39
Andorra                 557
Angola                  262
Antigua & Barbuda       147
Argentina               414
Armenia                  32
Australia               473
Austria                 470
Azerbaijan               26
Bahamas                 173
Bahrain                  49
Bangladesh                0
Barbados                179
Belarus                 184
Belgium                 507
Belize                  271
Benin                    47
Bhutan                   23
Bolivia                 175
Bosnia-Herzegovina       84
Botswana                208
Brazil                  261
Brunei                   32
Bulgaria                325
Burkina Faso             32
Burundi                  88
Cote d'Ivoire            44
Cabo Verde              160
                       ...
Suriname                135
Swaziland                92
Sweden                  338
Switzerland             465
Syria                    21
Tajikistan                2
Thailand                100
Macedonia               192
Timor-Leste               5
Togo                     55
Tonga                    41
Trinidad & Tobago       204
Tunisia                  71
Turkey                   58
Turkmenistan             51
Tuvalu                   15
Uganda                   45
Ukraine                 251
United Arab Emirates     21
United Kingdom          414
Tanzania                 37
USA                     333
Uruguay                 335
Uzbekistan               33
Vanuatu                  32
Venezuela               336
Vietnam                 112
Yemen                     6
Zambia                   36
Zimbabwe                 68
Length: 193, dtype: int64

In [24]:
#Create a new column call total_servings that is the sum of the beer, wine, and spirits columns
drinks["total_servivings"] = beer + wine + drinks.spirit_servings
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_servivings
country,,,,,,
Afghanistan,0,0,0,0.0,AS,0
Albania,89,132,54,4.9,EU,275
Algeria,25,0,14,0.7,AF,39
Andorra,245,138,312,12.4,EU,695
Angola,217,57,45,5.9,AF,319

In [26]:
#Let's take a look at continent
cont = drinks.continent

In [27]:
#How many null values are there in continent
#First check to see which values are null
cont.isnull()

country
Afghanistan             False
Albania                 False
Algeria                 False
Andorra                 False
Angola                  False
Antigua & Barbuda        True
Argentina               False
Armenia                 False
Australia               False
Austria                 False
Azerbaijan              False
Bahamas                  True
Bahrain                 False
Bangladesh              False
Barbados                 True
Belarus                 False
Belgium                 False
Belize                   True
Benin                   False
Bhutan                  False
Bolivia                 False
Bosnia-Herzegovina      False
Botswana                False
Brazil                  False
Brunei                  False
Bulgaria                False
Burkina Faso            False
Burundi                 False
Cote d'Ivoire           False
Cabo Verde              False
                        ...
Suriname                False
Swaziland               False
Sweden                  False
Switzerland             False
Syria                   False
Tajikistan              False
Thailand                False
Macedonia               False
Timor-Leste             False
Togo                    False
Tonga                   False
Trinidad & Tobago        True
Tunisia                 False
Turkey                  False
Turkmenistan            False
Tuvalu                  False
Uganda                  False
Ukraine                 False
United Arab Emirates    False
United Kingdom          False
Tanzania                False
USA                      True
Uruguay                 False
Uzbekistan              False
Vanuatu                 False
Venezuela               False
Vietnam                 False
Yemen                   False
Zambia                  False
Zimbabwe                False
Name: continent, Length: 193, dtype: bool

In [28]:
cont.isnull().sum()

23

In [29]:
#Replace every null with "No Continent"
cont.fillna("No Continent", inplace=True)

cont.isnull

`.fillna()` is great replacing all the null values in a numerical column with the mean of that column

In [ ]:
#Drop every null value in cont
#cont.dropna(inplace=True)

`.isnull()`, `.fillna()`, and `.dropna()` work with data frames as well

In [30]:
#What are the continents in cont?
cont.unique().shape

(6,)

In [31]:
#How many unique values there are
cont.nunique()

6

In [34]:
#How many countries are from each continent?
cont.value_counts(dropna=False)

AF              53
EU              45
AS              44
No Continent    23
OC              16
SA              12
Name: continent, dtype: int64

In [33]:
#What percentage of the data belongs to each continent
cont.value_counts(normalize=True)

AF              0.274611
EU              0.233161
AS              0.227979
No Continent    0.119171
OC              0.082902
SA              0.062176
Name: continent, dtype: float64

Lets go back to drinks data frame

In [35]:
drinks.columns

Index([u'beer_servings', u'spirit_servings', u'wine_servings',
       u'total_litres_of_pure_alcohol', u'continent', u'total_servivings'],
      dtype='object')

In [36]:
drinks.rename(columns={"total_servivings":"total_servings"}, inplace=True)

In [37]:
#Show me the top 5 booziezt countries
drinks.sort_values(by="total_servings").head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_servings
country,,,,,,
Afghanistan,0,0,0,0.0,AS,0
Pakistan,0,0,0,0.0,AS,0
Somalia,0,0,0,0.0,AF,0
Monaco,0,0,0,0.0,EU,0
Mauritania,0,0,0,0.0,AF,0

Does that seem right?

We're forgetting something

In [38]:
drinks.sort_values(by="total_servings", ascending=False).head().index

Index([u'Andorra', u'Grenada', u'Czech Republic', u'France',
       u'Russian Federation'],
      dtype='object', name=u'country')

Sorting in python defaults to going from least to greatest

In [ ]:
#This also works (kinda)
drinks.sort_values(by="total_servings").tail().index

In [ ]:
#Sort values in a series
beer.sort_values()

### Exercise time

1. Which countries drink more spirits than beer?

2. Find the top five booziest countries of each continent, do not include "No continent." Try using dictionary and for loop.

In [42]:
#Answer 1.

drinks[drinks.spirit_servings > drinks.beer_servings].index

Index([u'Albania', u'Antigua & Barbuda', u'Armenia', u'Azerbaijan', u'Bahamas',
       u'Bahrain', u'Barbados', u'Belarus', u'Bosnia-Herzegovina', u'Bulgaria',
       u'Cambodia', u'China', u'Comoros', u'Cook Islands', u'Cuba',
       u'Djibouti', u'Dominica', u'El Salvador', u'France', u'Georgia',
       u'Grenada', u'Guatemala', u'Guinea-Bissau', u'Guyana', u'Haiti',
       u'Honduras', u'India', u'Israel', u'Jamaica', u'Japan', u'Jordan',
       u'Kazakhstan', u'Kiribati', u'Kyrgyzstan', u'Lebanon', u'Liberia',
       u'Malawi', u'Mongolia', u'Montenegro', u'Nepal', u'Nicaragua', u'Niue',
       u'Philippines', u'Qatar', u'Moldova', u'Russian Federation',
       u'St. Kitts & Nevis', u'St. Lucia', u'St. Vincent & the Grenadines',
       u'Saudi Arabia', u'Slovakia', u'Sri Lanka', u'Sudan', u'Suriname',
       u'Syria', u'Tajikistan', u'Thailand', u'Turkmenistan', u'Tuvalu',
       u'Ukraine', u'United Arab Emirates', u'Uzbekistan'],
      dtype='object', name=u'country')

In [45]:
#Answer 2.

top5_cont = {}

for i in drinks.continent.unique():
    if i != "No Continent":
        cont_df = drinks[drinks.continent == i]
        top5 = cont_df.sort_values(by="total_servings", ascending=False).head().index.tolist()
        top5_cont[i] = top5
top5_cont

{'AF': ['Gabon', 'South Africa', 'Namibia', 'Equatorial Guinea', 'Angola'],
 'AS': ['Russian Federation', 'Kazakhstan', 'Thailand', 'Japan', 'China'],
 'EU': ['Andorra', 'Czech Republic', 'France', 'Lithuania', 'Luxembourg'],
 'OC': ['Australia', 'New Zealand', 'Niue', 'Palau', 'Cook Islands'],
 'SA': ['Argentina', 'Venezuela', 'Chile', 'Brazil', 'Paraguay']}

## Groupby

**Split Apply Combine**

<img src="https://www.safaribooksonline.com/library/view/learning-pandas/9781783985128/graphics/5128OS_09_01.jpg">

In [95]:
#Group by continent
drinks.groupby("continent")

In [ ]:
#Data needs to be accessed by certain methods
#Call .mean()
drinks.groupby("continent").mean()

In [96]:
#Call .median()
drinks.groupby("continent").median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,total_servings
continent,,,,,
AF,32.0,3.0,2.0,2.30,49.0
AS,17.5,16.0,1.0,1.20,68.0
EU,219.0,122.0,128.0,10.00,541.0
No Continent,143.0,137.0,11.0,6.30,349.0
OC,52.5,37.0,8.5,1.75,98.5
SA,162.5,108.5,12.0,6.85,383.0

In [54]:
#What happens when you do .describe()
drinks.groupby("continent").describe()

             beer_servings                                              \
                     count        mean        std   min     25%    50%
continent
AF                    53.0   61.471698  80.557816   0.0   15.00   32.0
AS                    44.0   37.045455  49.469725   0.0    4.25   17.5
EU                    45.0  193.777778  99.631569   0.0  127.00  219.0
No Continent          23.0  145.434783  79.621163   1.0   80.00  143.0
OC                    16.0   89.687500  96.641412   0.0   21.00   52.5
SA                    12.0  175.083333  65.242845  93.0  129.50  162.5

                            spirit_servings              ...   total_servings  \
                 75%    max           count        mean  ...              75%
continent                                                ...
AF             76.00  376.0            53.0   16.339623  ...            94.00
AS             60.50  247.0            44.0   60.840909  ...           135.75
EU            270.00  361.0            45.0  132.555556  ...           596.00
No Continent  198.00  285.0            23.0  165.739130  ...           396.00
OC            125.75  306.0            16.0   58.437500  ...           344.00
SA            198.00  333.0            12.0  114.750000  ...           411.00

                    wine_servings                                           \
                max         count        mean        std  min   25%    50%
continent
AF            504.0          53.0   16.264151  38.846419  0.0   1.0    2.0
AS            646.0          44.0    9.068182  21.667034  0.0   0.0    1.0
EU            695.0          45.0  142.222222  97.421738  0.0  59.0  128.0
No Continent  665.0          23.0   24.521739  28.266378  1.0   5.0   11.0
OC            545.0          16.0   35.625000  64.555790  0.0   1.0    8.5
SA            439.0          12.0   62.416667  88.620189  1.0   3.0   12.0


                 75%    max
continent
AF             13.00  233.0
AS              8.00  123.0
EU            195.00  370.0
No Continent   34.00  100.0
OC             23.25  212.0
SA             98.50  221.0

[6 rows x 40 columns]

In [ ]:
#Call specific column on groupby object and find the minimum value
drinks.groupby("continent")["beer_servings"].min()

In [53]:
#Find the max
drinks.groupby("continent")["beer_servings"].max()

continent
AF              376
AS              247
EU              361
No Continent    285
OC              306
SA              333
Name: beer_servings, dtype: int64

End of drinks data. Any questions before we move on?

In [56]:
#Read in chiptole dataset

path = "../data/chipotle.tsv"
#Use read_table instead read_csv
chip = pd.read_table(path)
chip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

We can see that there are some NaN present in the data set. Let's look at how many there are in each column.

In [57]:
#Call .isnull() and then call .sum()
chip.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [58]:
#What happens when you tack on another .sum()?
chip.isnull().sum().sum()

1246L

We need to fix the price column before converting it to a float

In [59]:
#Whats is item_price type?
chip.item_price.dtype

dtype('O')

Pandas series have a string (`str`) method that lets you treat a column like a string

In [60]:
#Call .str
chip.item_price.str.replace("$", "")

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
5       10.98
6        1.69
7       11.75
8        9.25
9        9.25
10       4.45
11       8.75
12       8.75
13      11.25
14       4.45
15       2.39
16       8.49
17       8.49
18       2.18
19       8.75
20       4.45
21       8.99
22       3.39
23      10.98
24       3.39
25       2.39
26       8.49
27       8.99
28       1.09
29       8.49
         ...
4592    11.75
4593    11.75
4594    11.75
4595     8.75
4596     4.45
4597     1.25
4598     1.50
4599     8.75
4600     4.45
4601     1.25
4602     9.25
4603     9.25
4604     8.75
4605     4.45
4606     1.25
4607    11.75
4608    11.25
4609     1.25
4610    11.75
4611    11.25
4612     9.25
4613     2.15
4614     1.50
4615     8.75
4616     4.45
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [61]:
#Replace $ with empty string and overwrite item_price column
chip["item_price"] = chip.item_price.str.replace("$", "")

In [62]:
#Change the type of column from object to float and overwrite item_price column
chip["item_price"] = chip.item_price.astype(float)

In [63]:
chip.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

More examples of using the `str`

In [64]:
chip.item_name.str.capitalize()

0                Chips and fresh tomato salsa
1                                        Izze
2                            Nantucket nectar
3       Chips and tomatillo-green chili salsa
4                                Chicken bowl
5                                Chicken bowl
6                               Side of chips
7                               Steak burrito
8                            Steak soft tacos
9                               Steak burrito
10                        Chips and guacamole
11                       Chicken crispy tacos
12                         Chicken soft tacos
13                               Chicken bowl
14                        Chips and guacamole
15      Chips and tomatillo-green chili salsa
16                            Chicken burrito
17                            Chicken burrito
18                                Canned soda
19                               Chicken bowl
20                        Chips and guacamole
21                           Barbacoa burrito
22                           Nantucket nectar
23                            Chicken burrito
24                                       Izze
25               Chips and fresh tomato salsa
26                               Chicken bowl
27                           Carnitas burrito
28                                Canned soda
29                            Chicken burrito
                        ...
4592                         Barbacoa burrito
4593                            Carnitas bowl
4594                            Barbacoa bowl
4595                             Chicken bowl
4596                      Chips and guacamole
4597                        Canned soft drink
4598                            Bottled water
4599                             Chicken bowl
4600                      Chips and guacamole
4601                        Canned soft drink
4602                         Barbacoa burrito
4603                         Barbacoa burrito
4604                             Chicken bowl
4605                      Chips and guacamole
4606                        Canned soft drink
4607                            Steak burrito
4608                           Veggie burrito
4609                        Canned soft drink
4610                            Steak burrito
4611                           Veggie burrito
4612                            Carnitas bowl
4613                                    Chips
4614                            Bottled water
4615                       Chicken soft tacos
4616                      Chips and guacamole
4617                            Steak burrito
4618                            Steak burrito
4619                       Chicken salad bowl
4620                       Chicken salad bowl
4621                       Chicken salad bowl
Name: item_name, Length: 4622, dtype: object

In [65]:
chip.item_name.str.lower()

0                chips and fresh tomato salsa
1                                        izze
2                            nantucket nectar
3       chips and tomatillo-green chili salsa
4                                chicken bowl
5                                chicken bowl
6                               side of chips
7                               steak burrito
8                            steak soft tacos
9                               steak burrito
10                        chips and guacamole
11                       chicken crispy tacos
12                         chicken soft tacos
13                               chicken bowl
14                        chips and guacamole
15      chips and tomatillo-green chili salsa
16                            chicken burrito
17                            chicken burrito
18                                canned soda
19                               chicken bowl
20                        chips and guacamole
21                           barbacoa burrito
22                           nantucket nectar
23                            chicken burrito
24                                       izze
25               chips and fresh tomato salsa
26                               chicken bowl
27                           carnitas burrito
28                                canned soda
29                            chicken burrito
                        ...
4592                         barbacoa burrito
4593                            carnitas bowl
4594                            barbacoa bowl
4595                             chicken bowl
4596                      chips and guacamole
4597                        canned soft drink
4598                            bottled water
4599                             chicken bowl
4600                      chips and guacamole
4601                        canned soft drink
4602                         barbacoa burrito
4603                         barbacoa burrito
4604                             chicken bowl
4605                      chips and guacamole
4606                        canned soft drink
4607                            steak burrito
4608                           veggie burrito
4609                        canned soft drink
4610                            steak burrito
4611                           veggie burrito
4612                            carnitas bowl
4613                                    chips
4614                            bottled water
4615                       chicken soft tacos
4616                      chips and guacamole
4617                            steak burrito
4618                            steak burrito
4619                       chicken salad bowl
4620                       chicken salad bowl
4621                       chicken salad bowl
Name: item_name, Length: 4622, dtype: object

In [66]:
chip.item_name.str.len()

0       28
1        4
2       16
3       37
4       12
5       12
6       13
7       13
8       16
9       13
10      19
11      20
12      18
13      12
14      19
15      37
16      15
17      15
18      11
19      12
20      19
21      16
22      16
23      15
24       4
25      28
26      12
27      16
28      11
29      15
        ..
4592    16
4593    13
4594    13
4595    12
4596    19
4597    17
4598    13
4599    12
4600    19
4601    17
4602    16
4603    16
4604    12
4605    19
4606    17
4607    13
4608    14
4609    17
4610    13
4611    14
4612    13
4613     5
4614    13
4615    18
4616    19
4617    13
4618    13
4619    18
4620    18
4621    18
Name: item_name, Length: 4622, dtype: int64

We know how to drop rows with null values but how do we drop columns with null values?

In [67]:
#Drop columns with null values
chip.dropna(axis=1)

      order_id  quantity                              item_name  item_price
0            1         1           Chips and Fresh Tomato Salsa        2.39
1            1         1                                   Izze        3.39
2            1         1                       Nantucket Nectar        3.39
3            1         1  Chips and Tomatillo-Green Chili Salsa        2.39
4            2         2                           Chicken Bowl       16.98
5            3         1                           Chicken Bowl       10.98
6            3         1                          Side of Chips        1.69
7            4         1                          Steak Burrito       11.75
8            4         1                       Steak Soft Tacos        9.25
9            5         1                          Steak Burrito        9.25
10           5         1                    Chips and Guacamole        4.45
11           6         1                   Chicken Crispy Tacos        8.75
12           6         1                     Chicken Soft Tacos        8.75
13           7         1                           Chicken Bowl       11.25
14           7         1                    Chips and Guacamole        4.45
15           8         1  Chips and Tomatillo-Green Chili Salsa        2.39
16           8         1                        Chicken Burrito        8.49
17           9         1                        Chicken Burrito        8.49
18           9         2                            Canned Soda        2.18
19          10         1                           Chicken Bowl        8.75
20          10         1                    Chips and Guacamole        4.45
21          11         1                       Barbacoa Burrito        8.99
22          11         1                       Nantucket Nectar        3.39
23          12         1                        Chicken Burrito       10.98
24          12         1                                   Izze        3.39
25          13         1           Chips and Fresh Tomato Salsa        2.39
26          13         1                           Chicken Bowl        8.49
27          14         1                       Carnitas Burrito        8.99
28          14         1                            Canned Soda        1.09
29          15         1                        Chicken Burrito        8.49
...        ...       ...                                    ...         ...
4592      1825         1                       Barbacoa Burrito       11.75
4593      1825         1                          Carnitas Bowl       11.75
4594      1825         1                          Barbacoa Bowl       11.75
4595      1826         1                           Chicken Bowl        8.75
4596      1826         1                    Chips and Guacamole        4.45
4597      1826         1                      Canned Soft Drink        1.25
4598      1826         1                          Bottled Water        1.50
4599      1827         1                           Chicken Bowl        8.75
4600      1827         1                    Chips and Guacamole        4.45
4601      1827         1                      Canned Soft Drink        1.25
4602      1827         1                       Barbacoa Burrito        9.25
4603      1827         1                       Barbacoa Burrito        9.25
4604      1828         1                           Chicken Bowl        8.75
4605      1828         1                    Chips and Guacamole        4.45
4606      1828         1                      Canned Soft Drink        1.25
4607      1829         1                          Steak Burrito       11.75
4608      1829         1                         Veggie Burrito       11.25
4609      1829         1                      Canned Soft Drink        1.25
4610      1830         1                          Steak Burrito       11.75
4611      1830         1                         Veggie Burrito       11.25
4612      1831         1                          Carnitas Bowl        9.25
4613      1831         1                                  Chips        2.15
4614      1831         1                          Bottled Water        1.50
4615      1832         1                     Chicken Soft Tacos        8.75
4616      1832         1                    Chips and Guacamole        4.45
4617      1833         1                          Steak Burrito       11.75
4618      1833         1                          Steak Burrito       11.75
4619      1834         1                     Chicken Salad Bowl       11.25
4620      1834         1                     Chicken Salad Bowl        8.75
4621      1834         1                     Chicken Salad Bowl        8.75

[4622 rows x 4 columns]

Remember `chip.isnull().sum()`?

In [68]:
#Set axis = 1 in .sum()
chip.isnull().sum(axis=1).sum()

1246L

Axis refers to which direction you wish your command to follow. 1 == columns, 0 = rows. 0 is the default.

This is handy when it comes to dropping rows and columns

In [69]:
#Lets get rid of the item_name column

chip.drop("item_name", axis=1, inplace=True)

Why didn't this work?

Forgot to do axis = 1 !!

Let's try it again

In [70]:
chip.drop("item_name")

ValueError: labels ['item_name'] not contained in axis

In [71]:
#Make it permanent
chip.drop("item_name", axis = 1, inplace =True)

ValueError: labels ['item_name'] not contained in axis

If you want to drop rows pass index name or list of index names

In [72]:
chip.drop([0, 2, 4, 6, 8])

,order_id,quantity,choice_description,item_price
1,1,1,[Clementine],3.39
3,1,1,NaN,2.39
5,3,1,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
9,5,1,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25
10,5,1,NaN,4.45
11,6,1,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
12,6,1,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
13,7,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
14,7,1,NaN,4.45
15,8,1,NaN,2.39
16,8,1,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
17,9,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
18,9,2,[Sprite],2.18
19,10,1,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
20,10,1,NaN,4.45
21,11,1,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99
22,11,1,[Pomegranate Cherry],3.39
23,12,1,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
24,12,1,[Grapefruit],3.39
25,13,1,NaN,2.39
26,13,1,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
27,14,1,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.99
28,14,1,[Dr. Pepper],1.09
29,15,1,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
30,15,1,NaN,2.39
31,16,1,"[[Roasted Chili Corn Salsa (Medium), Fresh Tom...",8.99
32,16,1,NaN,1.69
33,17,1,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.99
34,17,1,NaN,1.09
...,...,...,...,...
4592,1825,1,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",11.75
4593,1825,1,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,1825,1,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4595,1826,1,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
4596,1826,1,NaN,4.45
4597,1826,1,[Nestea],1.25
4598,1826,1,NaN,1.50
4599,1827,1,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75
4600,1827,1,NaN,4.45
4601,1827,1,[Diet Coke],1.25
4602,1827,1,[Tomatillo Green Chili Salsa],9.25
4603,1827,1,[Tomatillo Green Chili Salsa],9.25
4604,1828,1,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
4605,1828,1,NaN,4.45
4606,1828,1,[Coke],1.25
4607,1829,1,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4608,1829,1,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
4609,1829,1,[Sprite],1.25
4610,1830,1,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4612,1831,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25
4613,1831,1,NaN,2.15
4614,1831,1,NaN,1.50
4615,1832,1,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",8.75
4616,1832,1,NaN,4.45
4617,1833,1,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

Move on from Chipotle to Movie metadata

In [86]:
#Load in movie_metadata dataset
path = "../data/movie_metadata.csv"

movies = pd.read_csv(path)
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [87]:
movies.shape

(5043, 28)

In [88]:
movies.columns

Index([u'color', u'director_name', u'num_critic_for_reviews', u'duration',
       u'director_facebook_likes', u'actor_3_facebook_likes', u'actor_2_name',
       u'actor_1_facebook_likes', u'gross', u'genres', u'actor_1_name',
       u'movie_title', u'num_voted_users', u'cast_total_facebook_likes',
       u'actor_3_name', u'facenumber_in_poster', u'plot_keywords',
       u'movie_imdb_link', u'num_user_for_reviews', u'language', u'country',
       u'content_rating', u'budget', u'title_year', u'actor_2_facebook_likes',
       u'imdb_score', u'aspect_ratio', u'movie_facebook_likes'],
      dtype='object')

In [77]:
#Check out the info
movies.info()

In [89]:
#Replace nulls in budget with median of budget
movies.budget.fillna(movies.budget.median(), inplace=True)

In [90]:
#Drop nulls permanently
movies.dropna(inplace=True)

In [91]:
#How many rows are ther post null dropping?
movies.shape

(3975, 28)

Filter out some data. Let's only look at movies that are rated G, PG, PG-13, and R.
We could do it this way movies[(movies.content_rating=="G") etc...]

But let's not!

In [92]:
#List called ratings with the four ratings we want to use
ratings = ["G", "PG", "PG-13", "R"]

In [83]:
#Now lets check to see if a value in content "is in" ratings
movies.content_rating.unique()

array(['PG-13', nan, 'PG', 'G', 'R', 'TV-14', 'TV-PG', 'TV-MA', 'TV-G',
       'Not Rated', 'Unrated', 'Approved', 'TV-Y', 'NC-17', 'X', 'TV-Y7',
       'GP', 'Passed', 'M'], dtype=object)

In [93]:
#Return new data frame with movies with a rating that is in ratings
movies = movies[movies.content_rating.isin(ratings)]

In [94]:
#check shape
movies.shape

(3866, 28)

## Mapping and applying functions

In [24]:
#Make a new column called profitable by subtracting budget from gross
movies["profit"] = movies.gross - movies.budget
movies.profit.head()

0    523505847.0
1      9404152.0
2    -44925825.0
3    198130642.0
5   -190641321.0
Name: profit, dtype: float64

We want to know if a movie is profitable. How can we go about doing that?
With some python!

In [9]:
#Make a function that returns "profitable" for profit > 0 and "loss" for profit <= 0
def profit_decider(x):
    if x > 0:
        return "profitable"
    else:
        return "loss"

In [10]:
#Apply the function onto the profit column
movies.profit.apply(profit_decider)

0       profitable
1       profitable
2             loss
3       profitable
5             loss
6       profitable
7             loss
8       profitable
9       profitable
10      profitable
11            loss
12            loss
13      profitable
14            loss
15      profitable
16            loss
17      profitable
18            loss
19            loss
20      profitable
21      profitable
22            loss
23      profitable
24            loss
25      profitable
26      profitable
27      profitable
28            loss
29      profitable
30      profitable
           ...
4936    profitable
4941    profitable
4944          loss
4955    profitable
4956    profitable
4959    profitable
4960          loss
4962    profitable
4964          loss
4971    profitable
4973    profitable
4975    profitable
4977    profitable
4978          loss
4979          loss
4984    profitable
4987    profitable
4997    profitable
4998    profitable
5001          loss
5008    profitable
5011    profitable
5012          loss
5015    profitable
5025    profitable
5026    profitable
5027    profitable
5033    profitable
5035    profitable
5042    profitable
Name: profit, Length: 3975, dtype: object

In [17]:
#Make new column called "profitable"
movies["profitable"] = movies.profit.apply(profit_decider)

In [22]:
movies.shape

(3975, 31)

In [20]:
#How many movies are profitable and not profitable
movies.profitable.value_counts(normalize=True)*100

profitable    51.773585
loss          48.226415
Name: profitable, dtype: float64

Use lambda functions

In [25]:
#Return 1 for movies directed by Christopher Nolan
movies.director_name.apply(lambda x: 1 if x == "Christopher Nolan" else 0)

8L

`.apply()` allows us to transform values based on rules set by a function.

`.map()` allows us to use a dictionary to directly change values

In [14]:
#Example of changinge male to m and female to f
data.gender.map({"male":"m", "female":"f"})

NameError: name 'data' is not defined

A parent wants to make a new column called kid friendly where movies that G or PG are labelled "KF" and PG-13 and R movies are labelled "NKF"

In [15]:
#Map a dictionary onto the content_rating column and create new column called "kid_friendly"
kf_dict = {"G" : "KF",
          "PG" : "KF",
          "PG-13" : "NKF",
          "R" : "NKF"}


movies["kid_friendly"] = movies.content_rating.map(kf_dict)

Remember that you must account for every unique value or you will get null values

In [16]:
movies.kid_friendly.value_counts()

NKF    3181
KF      685
Name: kid_friendly, dtype: int64

## Class work exercises

1) What percent of movies are directed by James Cameron?

In [ ]:
movies.head()

In [ ]:
movies.director_name.value_counts(normalize = True)["James Cameron"] *100

2) What are the correlations among budget, gross, and imdb_score?

In [ ]:
x = ["budget", "gross", "imdb_score"]
movies[x].corr()

3) How many PG-13 movies has Robert De Niro starred in?

In [ ]:
movies.head()

In [ ]:
movies[(movies.content_rating == "PG-13") & (movies.actor_1_name == "Robert De Niro")].shape[0]

4) How much money have non-English films generated?

5) Who are the top five grossing directors on average?

5b) Now only look at directors who have directed more than five films

6) How many movies contain "Action" in the genre column? What about Comedy? What about both Comedy and Action?

If you finish the exercises before the end of class, then further investigate the movies dataset on your own or any of the other sets in the data folder.

Be sure to check out any of these pandas resources

- Pandas cheatsheets in the extracurricular directory

- https://chrisalbon.com/ <- Great website. For now check out data wrangling section.

- Data school's collection of resources http://www.dataschool.io/best-python-pandas-resources/

- Data school tutorial in giant repo. http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb

- http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
- http://nbviewer.jupyter.org/github/fonnesbeck/Bios8366/blob/master/notebooks/Section2_1-Introduction-to-Pandas.ipynb

- Repo with Pandas exercises https://github.com/guipsamora/pandas_exercises

- https://github.com/brandon-rhodes/pycon-pandas-tutorial

- https://github.com/jonathanrocher/pandas_tutorial

- https://github.com/chendaniely/scipy-2017-tutorial-pandas

- https://github.com/adeshpande3/Pandas-Tutorial

Youtube is your friend!! They are too many pandas tutorials videos to count.

<b>If you find a good resource be sure to share it with the rest of the class<b>