# Numpy and Pandas

## Goals

- Introduce the numpy and pandas libraries.

Learning objectives:

      - Numpy arrays and its mathmateical abilities
      
      - Importing data into pandas using CSVs
      
      - Slicing and filtering pandas dataframes
      
      - Cleaning data
      
      - Statistics and other math with pandas


- Two common Python libraries used for statistical analysis, data munging/wrangling/transformation, and other mathematical purpose.

- To put it simply, there is your connection to the data. Pandas is the most important tool because you'll spend the most time and effort with it.

### Numpy

Numpy has a wide ecosystem of functions and uses but for the purpose of this course we will focus on arrays aka numpy's version of a list

In [140]:
# Import library
import numpy as np

In [134]:
#Let's turn a list into an array

l = [3,2,6,7,9,1,2,-5]

array = np.array(l)

In [135]:
#Call it
array

array([ 3,  2,  6,  7,  9,  1,  2, -5])

In [136]:
#Call type
type(array)

numpy.ndarray

How arrays differ from lists

In [137]:
#Does this code work

l + 3

TypeError: can only concatenate list (not "int") to list

In [ ]:
#What about this?
array + 3

In [ ]:
#Multiply l by 2 
l * 2

In [ ]:
#Multiply array by 2 
array * 2

Numpy array have mathematical abilities that lists don't have, which makes them easier to use

In [ ]:
#Mean value
array.mean()

In [ ]:
#Maximum value
array.max()

In [ ]:
#Mininum value
array.min()

In [ ]:
#Sum all values
array.sum()

In [ ]:
#Find standard deviation
array.std()

In [ ]:
#What happens when you do this
dir(array)

Can also use numpy itself to call certain functions

In [ ]:
#Median
np.median(array)

In [ ]:
#Square
np.square(array)

In [ ]:
#Square root
np.sqrt(array)

In [ ]:
# Absolute value
array.abs()

Arrays can also be multi-dimensional

In [ ]:
#Make two dimensional numpy as with arange and reshape functions

np.arange(16)

In [ ]:
arr_2d = np.arange(16).reshape(4,4)
arr_2d

<b>Slicing two dimension array<b>

In [ ]:
#Slice rows
arr_2d[:3]

In [ ]:
#Slice columns 
arr_2d[:, 1:]

In [ ]:
#Slice both rows and columns
arr_2d[2: , :3]

In [ ]:
#Slice specific value
arr_2d[1,2]

Fantastic numpy tutorial here: https://www.datacamp.com/community/tutorials/python-numpy-tutorial

## Pandas

From <u>[Mastering Pandas](https://www.packtpub.com/big-data-and-business-intelligence/mastering-pandas)</u>

    The pandas is a high-performance open source library for data analysis in Python developed by Wes McKinney in 2008. Over the years, it has become the de-facto standard library for data analysis using Python. There's been great adoption of the tool, a large community behind it, (220+ contributors and 9000+ commits by 03/2014), rapid iteration, features, and enhancements continuously made.
    
    • It can process a variety of data sets in different formats: time series, tabular heterogeneous, and matrix data.
    • It facilitates loading/importing data from varied sources such as CSV and DB/SQL.
    It can handle a myriad of operations on data sets: subsetting, slicing,  ltering, merging, groupBy, re-ordering, and re-shaping.
    • It can deal with missing data according to rules defined by the user/ developer: ignore, convert to 0, and so on.
    • It can be used for parsing and munging (conversion) of data as well as modeling and statistical analysis.
    • It integrates well with other Python libraries such as statsmodels, SciPy, and scikit-learn.

In [141]:
#Import pandas library
import pandas as pd

In [ ]:
#Create a pandas series.
series = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
series

In [ ]:
#Return row
series["a"]

In [ ]:
#Change value in the series
series["d"] = 7
series

In [142]:
#Turn python dictionary into pandas series
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [ ]:
#Call California
population['California']

In [143]:
#Turn python dictinonary into pandas data frame

data = {"feature_one" :[1,2,4,8,-3],
       "feature_two" : ["haight", "mission", "geary", "castro", " potrero"],
       "feature_three": [True, True, False, True, False]}
df = pd.DataFrame(data, index=[6,7,8,9,10])

df

    feature_one  feature_three feature_two
6             1           True      haight
7             2           True     mission
8             4          False       geary
9             8           True      castro
10           -3          False     potrero

In [144]:
#Returns columns
df.columns

Index([u'feature_one', u'feature_three', u'feature_two'], dtype='object')

In [145]:
#Returns index
df.index

Int64Index([6, 7, 8, 9, 10], dtype='int64')

In [146]:
#Returns numpy array version of data frame. Also works on series.
df.values

array([[1, True, 'haight'],
       [2, True, 'mission'],
       [4, False, 'geary'],
       [8, True, 'castro'],
       [-3, False, ' potrero']], dtype=object)

In [147]:
#Call type on df
type(df)

pandas.core.frame.DataFrame

In [148]:
#Call feature_one column
f1 = df["feature_one"]
df["feature_one"] = df["feature_one"].astype("int")
f1

6     1
7     2
8     4
9     8
10   -3
Name: feature_one, dtype: int64

In [149]:
#Call type on f1
type(f1)

pandas.core.series.Series

In [150]:
#Select columns
cols = ["feature_one", "feature_two"]
df[cols]

    feature_one feature_two
6             1      haight
7             2     mission
8             4       geary
9             8      castro
10           -3     potrero

In [151]:
#Add new column to dataset

#Create new column feature_four by assigning it to number 4
df["feature_four"] = 4

#Create new column feature_five by assigning it to list ds
ds = ["Data", "Science", "Math", "Programming", "Hacking"]
df["feature_five"] = ds
df

    feature_one  feature_three feature_two  feature_four feature_five
6             1           True      haight             4         Data
7             2           True     mission             4      Science
8             4          False       geary             4         Math
9             8           True      castro             4  Programming
10           -3          False     potrero             4      Hacking

First dataset we will work with is the the drinks dataset

In [152]:
#File location of drinks dataset
path = "../data/drinks.csv"

drinks = pd.read_csv(path)

In [153]:
#Take a look at the data

drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [154]:
#Let's designate the country column as the index

drinks.set_index("country", inplace=True)

In [155]:
#Head is used to view first 5 rows. 5 is default but can be changed.
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,AS
Albania,89,132,54,4.9,EU
Algeria,25,0,14,0.7,AF
Andorra,245,138,312,12.4,EU
Angola,217,57,45,5.9,AF

In [ ]:
#Tail is for last five rows
drinks.tail()

In [ ]:
#How many rows and columns are there in this dataset?
drinks.shape

General dataset information

In [ ]:
#Lets look at this some details of this dataset
drinks.info()

In [ ]:
drinks.describe()

In [ ]:
drinks.corr()

What do these two commands do?

## Slicing dataframes

.loc

In [157]:
# Select values in Peru row
drinks.loc["Peru"]

beer_servings                   163
spirit_servings                 160
wine_servings                    21
total_litres_of_pure_alcohol    6.1
continent                        SA
Name: Peru, dtype: object

In [ ]:
#Select values in wine_servings column
drinks.loc[:, "wine_servings"].head()

In [ ]:
#Slice countries and columns
drinks.loc["Germany": "Guyana", "beer_servings":"wine_servings"]

.iloc

In [ ]:
#What do you think iloc does???

In [ ]:
drinks.describe()

In [ ]:
#Returns row at index 48
drinks.iloc[48]

In [ ]:
#Returns column at index 1
drinks.iloc[:,1].head()

In [ ]:
#Return slice of rows and columns
drinks.iloc[120:137:, 1:3]

iloc slices dataframes using the integer index.

<b>Conditional selection<b>

In [ ]:
drinks.continent == "EU"

In [ ]:
drinks.wine_servings > 20

Take those commands and pass them into the drinks data frame

In [ ]:
drinks[drinks.continent == "EU"]

In [ ]:
#Non european countries
drinks[drinks.continent != "EU"]

In [ ]:
#Rows where wine_servings greater than 20
drinks[drinks.wine_servings > 20]

`drinks.continent=='EU'` by itself returns a bunch of Trues and Falses.

When you wrap drinks around it with square brackets you're telling the drinks dataframe to select only those that are True, and not the False ones.

In [ ]:
#Return a data frame where both conditions are true
drinks[(drinks.continent == "EU") & (drinks.wine_servings > 20)]

In [ ]:
#Return data frame where either condition is true
drinks[(drinks.continent == "EU") | (drinks.wine_servings > 20)]

In [ ]:
#Return rows where wine_serving is greater than beer_servings
drinks[drinks.wine_servings > drinks.beer_servings]

In [ ]:
#Call index to return just the countries
drinks[drinks.wine_servings > drinks.beer_servings].index

We can sum boolean values.

In [ ]:
#How many countries consume no beer at all?
(drinks.beer_servings == 0).sum()

<b>Pandas Series<b>

In [ ]:
#Assign beer_servings to variable beer
beer = drinks.beer_servings
beer.head()

In [ ]:
#Can do math operations similar to numpy arrays
#Multiply every value in beer by 
beer.head()*2

In [ ]:
#Add 2 to every value in beer
beer + 2

In [ ]:
#Derive mean of beer
beer.mean()

In [ ]:
#Derive median of beer
beer.median()

In [ ]:
#Sum all values in beer
beer.sum()

In [ ]:
#Pandas series can be added to one another
wine = drinks.wine_servings
beer + wine

In [ ]:
#Create a new column call total_servings that is the sum of the beer, wine, and spirits columns
drinks["total_servivings"] = beer + wine + drinks.spirit_servings
drinks.head()

In [ ]:
#Let's take a look at continent
cont = drinks.continent

In [ ]:
#How many null values are there in continent
#First check to see which values are null
cont.isnull()

In [ ]:
#Replace every null with "No Continent"
cont.fillna("No Continent", inplace=True)

`.fillna()` is great replacing all the null values in a numerical column with the mean of that column

In [ ]:
#Drop every null value in cont
#cont.dropna(inplace=True)

`.isnull()`, `.fillna()`, and `.dropna()` work with data frames as well

In [ ]:
#What are the continents in cont?
cont.unique()

In [158]:
#How many unique values there are
cont.nunique()

NameError: name 'cont' is not defined

In [ ]:
#How many countries are from each continent?
cont.value_counts()

In [ ]:
#What percentage of the data belongs to each continent
cont.value_counts(normalize=True)

Lets go back to drinks data frame

In [ ]:
drinks.columns

In [139]:
#Show me the top 5 booziezt countries
drinks.sort_values(by="total_servings").head().index

NameError: name 'drinks' is not defined

Does that seem right?

We're forgetting something

In [ ]:
drinks.sort_values(by="total_servings", ascending=False).head().index

In [ ]:
#This also works (kinda)
drinks.sort_values(by="total_servings").tail().index

In [ ]:
#Sort values in a series
beer.sort_values()

### Exercise time

1. Which countries drink more spirits than beer?

2. Find the top five booziest countries of each continent, do not include "No continent." Try using dictionary and for loop.

In [ ]:
#Answer 1.

drinks[drinks.spirit_servings > drinks.beer_servings].index

In [138]:
#Answer 2.

drinks_dict = {}

for i in drinks.continent.unique():
    if i != "No Continent":
        value = drinks[drinks.continent == i].sort_values(by = "total_servings",
                                                        ascending=False).index.tolist()[:5]
        drinks_dict[i] = value
drinks_dict

NameError: name 'drinks' is not defined

## Groupby

**Split Apply Combine**

<img src="https://www.safaribooksonline.com/library/view/learning-pandas/9781783985128/graphics/5128OS_09_01.jpg">

In [ ]:
#Group by continent
drinks.groupby("continent")

In [ ]:
#Data needs to be accessed by certain methods
#Call .mean()
drinks.groupby("continent").mean()

In [ ]:
#Call .median()
drinks.groupby("continent").median()

In [ ]:
#What happens when you do .describe()
drinks.groupby("continent").describe()

In [ ]:
#Call specific column on groupby object
drinks.groupby("continent").total_servings.min()

In [ ]:
drinks.groupby("continent").total_servings.max()

End of drinks data. Any questions before we move on?

In [160]:
#Read in chiptole dataset

path = "../data/chipotle.tsv"
#Use read_table instead read_csv
chip = pd.read_table(path)
chip

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4596,1826,1,Chips and Guacamole,NaN,$4.45
4597,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,1826,1,Bottled Water,NaN,$1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,1827,1,Chips and Guacamole,NaN,$4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,1828,1,Chips and Guacamole,NaN,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

We can see that there are some NaN present in the data set. Let's look at how many there are in each column.

In [161]:
#Call .isnull() and then call .sum()
chip.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [162]:
#What happens when you tack on another .sum()?
chip.isnull().sum().sum()

1246L

We need to fix the price column before converting it to a float

In [163]:
#Whats is item_price type?
chip.item_price.dtype

dtype('O')

Pandas series have a string (`str`) method that lets you treat a column like a string

In [164]:
#Call .str
chip.item_price.str

In [165]:
#Replace $ with empty string and overwrite item_price column
chip["item_price"] = chip.item_price.str.replace("$", "")

In [ ]:
#Change the type of column from object to float and overwrite item_price column
chip["item_price"] = chip.item_price.astype(float)

In [ ]:
chip.head()

More examples of using the `str`

In [ ]:
# chip.item_name.str.capitalize()

In [ ]:
# chip.item_name.str.lower()

In [ ]:
#chip.item_name.str.len()

We know how to drop rows with null values but how do we drop columns with null values?

In [ ]:
#Drop columns with null values
# chip.dropna(axis=1)

Remember `chip.isnull().sum()`?

In [ ]:
#Set axis = 1 in .sum()
chip.isnull().sum(axis=1)

Axis refers to which direction you wish your command to follow. 1 == columns, 0 = rows. 0 is the default.

This is handy when it comes to dropping rows and columns

In [ ]:
#Lets get rid of the item_name column

chip.drop("item_name")

Why didn't this work?

Forgot to do axis = 1 !!

Let's try it again

In [ ]:
chip.drop("item_name", axis=1)

In [ ]:
#Make it permanent
# chip.drop("item_name", axis = 1, inplace = True)

If you want to drop rows pass index name or list of index names

In [ ]:
chip.drop([0, 2, 4, 6, 8])

Move on from Chipotle to Movie metadata

In [166]:
#Load in movie_metadata dataset
path = "../data/movie_metadata.csv"

movies = pd.read_csv(path)
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [ ]:
movies.shape

In [ ]:
movies.columns

In [ ]:
#Check out the info
movies.info()

In [ ]:
#Replace nulls in budget with median of budget
movies.budget.fillna(movies.budget.median(), inplace=True)

In [167]:
#Drop nulls
movies.dropna(inplace=True)

In [168]:
movies.shape

(3756, 28)

Filter out some data. Let's only look at movies that are rated G, PG, PG-13, and R.
We could do it this way movies[(movies.content_rating=="G") etc...]

But let's not!

In [169]:
#Make a list called ratings of the four ratings we want to use
ratings = ["G", "PG", "PG-13", "R"]

In [170]:
#Now lets check to see if a value in content "is in" ratings
movies.content_rating.isin(ratings)

0        True
1        True
2        True
3        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29       True
30       True
        ...
4930     True
4931     True
4933    False
4936     True
4941     True
4955     True
4956     True
4959     True
4962     True
4964    False
4971     True
4973     True
4975     True
4977     True
4978     True
4979     True
4984     True
4987    False
4997    False
4998     True
5008     True
5011     True
5012     True
5015     True
5025    False
5026     True
5027    False
5033     True
5035     True
5042     True
Name: content_rating, Length: 3756, dtype: bool

In [171]:
#Return new data frame
movies = movies[movies.content_rating.isin(ratings)]

In [172]:
#check shape
movies.shape

(3661, 28)

## Mapping and applying functions

In [ ]:
#Make a new column called profitable by subtracting budget from gross
movies["profit"] = movies.gross - movies.budget
movies.profit.head()

We want to know if a movie is profitable. How can we go about doing that?
With some python!

In [ ]:
#Make a function that returns "profitable" for profit > 0 and "loss" for profit <= 0
def profit_decider(x):
    if x> 0:
        return "profitable"
    else:
        return "loss"

In [ ]:
#Apply the function onto the profit column
movies.profit.apply(profit_decider)

In [ ]:
#Make new column called "profitable"
movies["profitable"] = movies.profit.apply(profit_decider)

In [ ]:
#How many movies are profitable and not profitable
movies.profitable.value_counts()

Use lambda functions

In [ ]:
#Return 1 for movies directed by Christopher Nolan
movies.director_name.apply(lambda x: 1 if x == "Christopher Nolan" else 0)

`.apply()` allows us to transform values based on rules set by a function.

`.map()` allows us to use a dictionary to directly change values

In [ ]:
#Example of changinge male to m and female to f
data.gender.map({"male":"m", "female":"f"})

A parent wants to make a new column called kid friendly where movies that G or PG are labelled "KF" and PG-13 and R movies are labelled "NKF"

In [ ]:
#Map a dictionary onto the content_rating column and create new column called "kid_friendly"
kf_dict = {"G" : "KF",
          "PG" : "KF",
          "PG-13" : "NKF",
          "R" : "NKF"}
movies["kid_friendly"] = movies.content_rating.map(kf_dict)

Remember that you must account for every unique value or you will get null values

In [ ]:
movies.info()

## Class work exercises

1) What percent of movies are directed by James Cameron?

In [ ]:
per_james_cameron = movies.director_name.value_counts(normalize=True)["James Cameron"]*100
print "{}% of movies are directed by James Cameron".format(per_james_cameron)

In [ ]:
movies.director_name.value_counts().sum()

2) What are the correlations among budget, gross, and imdb_score?

In [ ]:
cols = ["budget", "gross", "imdb_score"]
movies[cols].corr()

In [ ]:
movies.head()

3) How many PG-13 movies has Robert De Niro starred in?

In [ ]:
movies[(movies.content_rating == "PG-13") & (movies.actor_1_name == "Robert De Niro")].shape[0]

4) How much money have non-English films generated?

In [ ]:
foreign_films = movies[movies.language != "English"]
foreign_films.gross.sum()

5) Who are the top five grossing directors on average?

In [ ]:
movies.groupby("director_name")["gross"].mean().sort_values(ascending=False).head()

In [ ]:
#top 5 grossing directors?
movies.groupby('director_name')['gross'].sum().sort_values(ascending = False).head()

5b) Now only look at directors who have directed more than five films

In [ ]:
director_value_counts = movies.director_name.value_counts()
directors_with_more_than_5_movies = director_value_counts[director_value_counts>5].index

In [ ]:
movies_directors_5 = movies[movies.director_name.isin(directors_with_more_than_5_movies)]

In [ ]:
movies_directors_5.shape

In [ ]:
movies_directors_5.groupby("director_name")["gross"].mean().sort_values(ascending=False).head()

6) How many movies contain "Action" in the genre column? What about Comedy? What about both Comedy and Action?

In [ ]:
movies.genres.apply(lambda x:"Action" in x).sum()

In [ ]:
#Do it using str method
movies.genres.str.contains("Action").sum()

In [ ]:
movies.genres.apply(lambda x:"Comedy" in x).sum()

In [ ]:
movies.genres.str.contains("Comedy").sum()

In [ ]:
movies.genres.apply(lambda x:"Comedy" in x and "Action" in x).sum()

In [ ]:
((movies.genres.str.contains("Comedy")) & (movies.genres.str.contains("Action"))).sum()

If you finish the exercises before the end of class, then further investigate the movies dataset on your own or any of the other sets in the data folder.

Be sure to check out any of these pandas resources

- Pandas cheatsheets in the extracurricular directory

- https://chrisalbon.com/ <- Great website. For now check out data wrangling section.

- Data school's collection of resources http://www.dataschool.io/best-python-pandas-resources/

- Data school tutorial in giant repo. http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb

- http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
- http://nbviewer.jupyter.org/github/fonnesbeck/Bios8366/blob/master/notebooks/Section2_1-Introduction-to-Pandas.ipynb

- Repo with Pandas exercises https://github.com/guipsamora/pandas_exercises

- https://github.com/brandon-rhodes/pycon-pandas-tutorial

- https://github.com/jonathanrocher/pandas_tutorial

- https://github.com/chendaniely/scipy-2017-tutorial-pandas

- https://github.com/adeshpande3/Pandas-Tutorial

Youtube is your friend!! They are too many pandas tutorials videos to count.

<b>If you find a good resource be sure to share it with the rest of the class<b>